*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ============= GROUP STYLE ============== */
.h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    color: #fb8500;
}
.h4{
    margin-bottom: 20px;
}
.sub-text{
    text-align: center;
    padding: 0px 160px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.sec-value,
.sec-canteen,
.sec-sports,
.sec-aerobic,
.sec-contact{
    padding: 60px 80px;
}
/* ===================== NAV ===================== */
.nav{
    padding: 5px 80px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav p{
    padding: 10px 25px;
    color: #fb8500;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav p:hover{
    color: #fb8500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.nav img{
    height: 70px;
}
/* ================= HEADER =================== */
header{
    height: 600px;
    background-image:url(./image/head-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    align-items: center; */
}
.test h1{
    font-size: 3.4em;
    color: #4cc9f0;
    text-align: center;
}
.test p{
    padding: 0px 200px;
    font-size: 16px;
    color: #ffb703;
    text-align: center;
}
.test{
    width: 100%;
    height: 20%;
    padding: 25px 0px;
    background-color:rgba(0, 0, 0, 0.575);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ================ VALUE =================== */
.sec-value-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-value-row{
    display: flex;
    gap: 40px;
}
.sec-value-row:nth-child(2){
    margin-top: 40px;
}
.sec-value-card{
    width: 440px;
    height: 140px;
    padding: 20px;
    border: 1px solid rgb(99, 99, 219);
    box-shadow: rgba(99, 99, 219, 0.363) -4px 9px 25px -6px;
    border-radius: 20px;
    display: flex;
    gap: 15px;
}
.sec-value-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* =============== CANTEEN ================ */
.sec-canteen-main{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.sec-canteen-main img{
    height: 300px;
    border-radius: 30px;
    border: 1px solid blue;
}
table, th, td {
    padding: 10px 15px;
    border: 1px solid blue;
    border-collapse: collapse;
}
table {
    padding: 0;
    height: 300px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
th {
    text-align: center;
    background-color: rgba(173, 216, 230, 0.521);
}
td {
    font-size: 14px;
}
#schedule{
    background-color: rgb(157, 217, 236);
}
/* ================ SPORTS ================= */
.sec-sports-main{
    display: flex;
    justify-content: space-between;
}
.sec-sports-card{
    width: 20%;
    padding: 15px;
    background-color: rgba(173, 216, 230, 0.521);
    border: 1px solid rgb(99, 99, 219);
    box-shadow: rgba(99, 99, 219, 0.363) -4px 9px 25px -6px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-sports-card img{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px 10px 0px 0px;
}
.sec-sports-card-info p{
    text-align: justify;
}
/* ================== AEROBIC ================= */
.sec-aerobic img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.sec-aerobic-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sec-aerobic-main-L{
    width: 65%;
    border-radius: 15px;
    border: 1px solid rgb(99, 99, 219);
    box-shadow: rgba(99, 99, 219, 0.363) -4px 9px 25px -6px;
}
.sec-aerobic-main-R{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-aerobic-card{
    width: 100%;
    background-color: rgba(173, 216, 230, 0.521);
    border-radius: 15px;
    border: 1px solid rgb(99, 99, 219);
    box-shadow: rgba(99, 99, 219, 0.363) -4px 9px 25px -6px;
}
span{
    font-weight: normal;
    font-size: 18px;
}
.sec-aerobic-card p{
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
/* ================ CONTACT ================= */
.sec-contact-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.sec-contact-R{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.sec-contact-R-card{
    padding: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
.sec-contact-form{
    padding: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}
.row-parent{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    column-gap: 20px;
}
.sec-contact-form label{
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.sec-contact-form input{
    width: 150px;
    padding: 16px 24px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px #eff0f6 solid;
    box-shadow: 0px 2px 7px 0px;
}
.sec-contact-form button{
    width: 100%;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 128, 153);
    border: none;
    border-radius: 100px;
}
/* ================== MAP ================= */
iframe{
    width: 100%;
}
/* =================== FOOTER ================= */
footer{
    background-color: rgb(241, 241, 241);
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
}
.foot-col{
    display: flex;
    flex-direction: column;
}
.foot-col a{
    text-decoration: none;
}


@media (min-width: 620px) and (max-width: 900px) {
    * {
        font-size: 16px;
    }
    /* ============= GROUP STYLE ============== */
    .h2{
        font-size: 2em;
    }
    .sec-value,
    .sec-canteen,
    .sec-sports,
    .sec-aerobic,
    .sec-contact{
        padding: 60px;
    }
    /* ============= Nav ============== */
    .nav{
        padding: 5px 60px;
    }
    /* ================= HEADER =================== */
    header{
        height: 340px;
    }
    .test h1{
        font-size: 3em;
    }
    .test p{
        padding: 0px 50px;
        font-size: 12px;
    }
    .test{
        height: 30%;
        padding: 10px 0px;
    }
    /* ================ VALUE =================== */
    .sec-value-card p{
        margin-top: 15px;
    }
    .sec-value-card img{
        height: 80px;
    }
    .sec-value-card{
        height: 160px;
        width: 46%;
        align-items: center;
        gap: 15px;
    }
    /* =============== CANTEEN ================ */
    .sec-canteen-main{
        justify-content: center;
    }
    table, th, td {
        padding: 5px 10px;
    }
    .sec-canteen-main img{
        display: none;
    }
    /* ================ SPORTS ================= */
    .sec-sports h2 ~ p{
        padding: 0px;
        margin-bottom: 30px;
    }
    .sec-sports-main{
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }
    .sec-sports-card{
        width: 44%;
    }
    .sec-sports-card img{
        margin-bottom: 25px;
    }
    /* ================== AEROBIC ================= */
    .sec-aerobic img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    .sec-aerobic-main{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .sec-aerobic-main-L{
        width: 100%;
    }
    .sec-aerobic-main-R{
        width: 100%;
        flex-direction: row;
    }
    .sec-aerobic-main-R .sec-aerobic-card{
        width: 48%;
    }
    span{
        font-size: 16px;
    }
    .sec-aerobic-card p{
        font-size: 20px;
    }
    /* ================ CONTACT ================= */
    .sec-contact-main{
        display: block;
    }
    .sec-contact-R{
        flex-direction: row;
        gap: 40px;
    }
    .sec-contact-R-card{
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-contact-form{
        margin-top: 40px;
    }
    .sec-contact-form input{
        width: 225px;
    }
    /* =================== FOOTER ================= */
    footer{
        padding: 30px 60px;
    }
}


@media (min-width: 320px) and (max-width: 600px) {
*{
    font-size: 12px;
}
/* ============= GROUP STYLE ============== */
.h2{
    font-size: 1.4em;
    margin-bottom: 20px;
}
.h4{
    margin-bottom: 20px;
}
.sub-text{
    text-align: center;
    padding: 0px 160px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.sec-value,
.sec-canteen,
.sec-sports,
.sec-aerobic,
.sec-contact{
    padding: 40px 20px;
}
/* ===================== NAV ===================== */
.nav{
    padding: 5px 20px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
}
.nav img{
    height: 30px;
    margin-right: 20px;
    grid-row: 1/2;
    grid-row: 1/5;
}
.nav p{
    text-align: center;
    padding: 0;
    font-size: 8px;
    text-decoration: underline;
    box-shadow: none;
    background-color: rgb(241, 241, 241);
}
.nav p:hover{
    padding: 5px;
    color: #fb8500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
    /* ================= HEADER =================== */
    header{
        height: 200px;
    }
    .test h1{
        font-size: 1.8em;
        margin: 0;
        padding: 0;
    }
    .test p{
        margin-top: 0px;
        padding: 0px 20px;
        font-size: 10px;
        text-align: justify;
    }
    .test{
        width: 60%;
        height: 100%;
        padding: 0px;
        justify-content: center;
        gap: 20px;
    }
    /* ================ VALUE =================== */
    .sec-value-main{
        display: block;
    }
    .sec-value-row{
        width: 100%;
        display: block;
    }
    .sec-value-row:nth-child(2){
        margin-top: 0px;
    }
    .sec-value-card img{
        height: 80px;
    }
    .sec-value-card{
        width: 92%;
        height: 90px;
        padding: 10px;
        margin-top: 20px;
        border-radius: 15px;
        gap: 10px;
    }
    .sec-value-card-info p{
    margin-top: 10px;
    }
    .sec-value-card-info{
        display: block;
    }
    /* =============== CANTEEN ================ */
    .sec-canteen-main{
        margin-top: 0px;
        display: block;
    }
    .sec-canteen-main img{
        display: none;
    }
    table, th, td {
        font-size: 8px;
        padding: 5px;
    }
    table {
        height: 100px;
    }
    /* ================ SPORTS ================= */
    .sec-sports h2 ~ p {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .sec-sports-main{
        flex-wrap: wrap;
        gap: 20px;
    }
    .sec-sports-card{
        width: 38%;
        gap: 10px;
    }
    .sec-sports-card img{
        margin-bottom: 0px;
    }
    .sec-sports-card-info h4{
        margin-bottom: 0px;
    }
    .sec-sports-card-info p{
        display: none;
    }
    /* ================== AEROBIC ================= */
    .sec-aerobic img{
        width: 100%;
        margin-bottom: 0px;
        border-radius: 15px 15px 0px 0px;
    }
    .sec-aerobic-main{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .sec-aerobic-main-L{
        width: 100%;
    }
    .sec-aerobic-main-R{
        width: 100%;
        flex-direction: row;
    }
    .sec-aerobic-main-R .sec-aerobic-card{
        width: 48%;
    }
    span{
        font-size: 12px;
    }
    .sec-aerobic-card p{
        font-size: 14px;
        padding: 8px;
    }
    /* ================ CONTACT ================= */
    .sec-contact-main{
        gap: 0px;
    }
    .sec-contact-R{
        display: none;
    }
    .sec-contact-form{
        width: 100%;
        padding: 20px;
        row-gap: 0px;
    }
    .row-parent{
        width: 100%;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .row{
        width: 100%;
        display: block;
    }
    .sec-contact-form label{
        margin: 0px;
        font-size: 16px;
    }
    .sec-contact-form input{
        width: 55%;
        padding: 6px 15px;
        font-size: 14px;
    }
    .sec-contact-form button{
        padding: 12px;
    }
    /* =================== FOOTER ================= */
    footer{
        padding: 30px 20px;
    }
}